@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 0 100% 25.49%;
    --color-brand-green: 124 16.15% 36.5%;
    --color-brand-cream: 38.57 68.29% 83.92%;
    --color-brand-white: 30 100% 98.43%;
}

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 20px;
    }

    @media screen and (max-width: 1024px){
        :root {
            font-size: 12px;
        }
    }
}


@layer utilities {

}
