@import url(/fonts/fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .p-page {
        @apply px-28 xl:px-10
    }
    .bg-size-100 {
        background-size: 100% 100%; 
    }
    .header-bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(0deg, rgba(130, 0, 0, 0.20) 0%, rgba(130, 0, 0, 0.20) 100%), url(/images/headerBg.svg), lightgray 0px -143.143px / 100.03% 144.894% no-repeat;        
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .imagePrimary {
        background: linear-gradient(0deg, rgba(130, 0, 0, 0.20) 0%, rgba(130, 0, 0, 0.20) 100%);
    }
    .accordion-content {
        background: linear-gradient(270deg, #F2DEBA -17.6%, #820000 174.27%);
    }

}
.video-react .video-react-poster {
    background-color: unset !important;
}
.video-react .video-react-big-play-button {
    display: none !important;
}
.swiper-button-next {
    @apply !bg-swiperBtnNext !bg-cover !w-10 !h-10 !left-0
}

.swiper-button-prev {
    @apply !bg-swiperBtnPrev !bg-cover !w-10 !h-10 !right-0
}
.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}