@import url(/fonts/fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .p-page {
        @apply px-28 
    }
    .bg-size-100 {
        background-size: 100% 100%; 
    }
    .header-bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(0deg, rgba(130, 0, 0, 0.20) 0%, rgba(130, 0, 0, 0.20) 100%), url(/images/headerBg.svg), lightgray 0px -143.143px / 100.03% 144.894% no-repeat;        
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 96px solid transparent; /* Half of the width of the parent div */
        border-right: 96px solid transparent; /* Half of the width of the parent div */
        border-top: 100px solid #820000;
    }
}
.video-react .video-react-poster {
    background-color: unset !important;
}
.video-react .video-react-big-play-button {
    display: none !important;
}